@media only screen and (max-width: 600px) {
    #toast-container {
        min-width: 100%;
        bottom: 0%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
    #toast-container {
        left: 5%;
        bottom: 7%;
        max-width: 90%;
    }
}
@media only screen and (min-width: 993px) {
    #toast-container {
        top: 10%;
        right: 7%;
        max-width: 86%;
    }
}
.toast {
    border-radius: 8px;
    top: 20px;
    width: auto;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    background-color: #323232;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: default;
}
.toast .toast-action {
    color: #eeff41;
    font-weight: 500;
    margin-right: -25px;
    margin-left: 3rem;
}
.toast.rounded {
    border-radius: 24px;
}
@media only screen and (max-width: 600px) {
    .toast {
        width: 100%;
        border-radius: 0;
    }
}
#toast-container {
    display: block;
    position: fixed;
    z-index: 10000;
}

.nav-link{
    margin-right: 20px;
}

.custom-select{
    border: 1px solid #ced4da;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.25rem 0 0 0.25rem;
}
.custom-select::after {
    left:30px;
}

.navbar{
    margin-bottom: 5rem;
}



.input-group-text{
    border-radius: 0.25rem 0 0 0.25rem;
    width: auto;
}

.input-group-append{
    width: 10rem;
}
.input-group-append .input-group-text{
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
}

.listOfUsersForHr button{
    margin-right: 3rem;
}

#headId {
    width: calc(100% - 10rem);
}



html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}
body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 18px;
    font-weight: 400;
}
h3{
    font-size: 14px;
    font-weight: 400;
}
nav{
    margin: 100px
}
main{
    margin-bottom: 300px;
    position: relative;
}
button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}
textarea{
    resize: none;
}
.c{
    border: 1px solid red;
}
.btnBlue{
    min-width: 150px;
    height: 40px;
    padding-left: 13px;
    padding-right: 13px;

    background: #4DA5F6;
    border: none;
    border-radius: 5px;

    transition: 0.2s;
    color: white;
}
.btnBlue:hover{
    background: #2092FA;
}
.btnRed{
    min-width: 150px;
    height: 40px;
    padding-left: 13px;
    padding-right: 13px;

    background: #F64D4D;
    border: none;
    border-radius: 5px;

    transition: 0.2s;
    color: white;
}
.btnRed:hover{
    background: #F41E1E;
}
.btnGreen{
      min-width: 150px;
      height: 40px;
      padding-left: 13px;
      padding-right: 13px;

      background: #58C737;
      border: none;
      border-radius: 5px;

      transition: 0.2s;
      color: white;
  }
.btnGreen:hover{
    background: #3CC314;
}
.btnOrange{
    min-width: 150px;
    height: 40px;
    padding-left: 13px;
    padding-right: 13px;

    background: #F68A4D;
    border: none;
    border-radius: 5px;

    transition: 0.2s;
    color: white;
}
.btnOrange:hover{
    background: #FF7628;
}
.btnPurple{
    width: 33.333%;
    height: 70px;
    margin: 0;

    background: white;
    color: black;
    border: none;
    border-radius: 0px;
    font-size: 24px;
    transition: 0.2s;
}
.btnPurple:hover{
    background: rgba(221, 91, 232, 0.15);
}
.btnPurple:first-child{
    border-radius: 8px 0px 0px 8px;
}
.btnPurple:last-child{
    border-radius: 0px 8px 8px 0px;
}
.btnPurpleOpened{
    background: #DD5BE8 !important;
    color: white !important;
}

.bgGreen{background: rgba(88, 199, 55, 0.11) !important;}
.bgOrange{background: rgba(246, 138, 77, 0.11)!important;}

/*AUTH*/
.card{
    border:none;
    margin-top: 300px;
    transition: 0.5s;
    opacity: 0;
}
.card button {
    margin: auto;
    margin-top: 20px;
}
.card button:hover {
    color: white!important;
    margin: auto;
    margin-top: 20px;
}
#logoOnAuth{
    position: absolute;
    top: 115px;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
    height: 70px;
    opacity: 0;
}
/*profile*/
#logo{
    height: 40px;
}
#logoutBtn{
    height: 18px;
    margin-left: 20px;
}
#profileFI{
    position: relative;
}
#profileRole{
    position: absolute;
    top: 100%;
    right: 0;
    color: #4A4A4A;
}

/*HR*//*main page*/
.flexCon{
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flexCon a, .flexCon a:hover {
    text-decoration: none;
    color: #171717;
}
.guideCard{
    width: 270px;
    height: 300px;
    text-align: center;
    border: 1px solid #ececec;
    border-radius: 10px;
    transition: 0.5s;
    margin: 30px;
}
.guideCard:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}
.guideCard img{
    width: 100px;
    height: 100px;
    margin: 85px;
}
.guideCard h3{
    font-weight: 500;
}

.logoOfPage {
    position: absolute;
    height: 500px;
    top: -475px;
    left: 50%;
    transform: translateX(-50%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0,0) 90%);
}
/*HR*//*create user and plan*/
form {
    text-align: center;
    justify-items: center;
}
.flexItem h2{
    line-height: 40px;
    font-weight: 500;
    color: black;
}
form .custom-select{
    color: #495057;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
form #probationStart{
    margin-right: 2rem;
}

/*HR*//*show users*/
.listOfNotActivated h1{
    margin-bottom: 20px;
}
.listOfNotActivated h2, .listOfNotActivated h3, .listOfActivated h2, .listOfActivated h3{
    margin-bottom: 0px;
}
.listOfNotActivated .userCardBlock{
    color: rgba(0, 0, 0, 0.5);
}
.listOfNotActivated button, .listOfActivated .userCardBlock button{
    margin: 5px;
}
.userCard{
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    padding: 20px 20px;
    border-radius: 15px;
    cursor: pointer;

    transition: 0.2s;
}
.userCard > * {
    pointer-events: none;
}
.userCard .userCardBody .btnBlue, .userCard .userCardBody .btnOrange, .userCard .userCardBody .btnGreen{
    pointer-events: auto;
}
.userCardBlock:hover .userCard{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.userCardBlock{
    margin-top: 10px;
    margin-bottom: 10px;
}
.userCardBody{
    margin-top: 15px;
}
.userCardBody h2{
    margin-bottom: 15px;
}
.userCardBody button{
    margin-left: 0 !important;
    margin-bottom: 0px !important;
}
.buttonSwitch{margin-bottom: 55px; margin-top: 55px}


/*TYRO*/
.flexConForTyro{
    margin-bottom: 30px;
}
.progressCircleBlock{
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}



#svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
    stroke: #C4C4C4;
    stroke-width: 1px;
}
#svg #bar {
    stroke: #00680A;
    stroke-width: 4px;
}
#cont {
    display: block;
    height: 128px;
    width: 128px;
    margin: 2em auto;
    border-radius: 100%;
    position: relative;
    transform: rotate(-90deg);
}
#cont:after {
    position: absolute;
    text-align: center;
    display: block;
    height: 120px;
    width: 120px;
    left: 50%;
    top: 4px;
    margin-left: -60px;
    margin-right: -60px;
    content: attr(data-pct)"%";
    border-radius: 100%;
    line-height: 120px;
    font-size: 34px;
    transform: rotate(90deg);
}
.circle input {
    color: #000;
}
.progressCircleBlock .done{
    color: #00680A;
}
.progressCircleBlock .done:after{
    content: "A"!important;
    background-color: #E8FFEA;
    font-weight: bold;
    font-size: 50px!important;
}

.addTaskBlock h1, .addTaskBlock, .listOfAllTasks h1, h1{
    margin-bottom: 30px;
}
.addTaskBlock{
    margin-bottom: 60px;
}
.tyroPage h2, .planPage h2{
    margin-bottom: 0;
}
.taskCardBlock{
    margin-bottom: 20px;
}
.buttonSection button{
    margin: 5px;
}
.taskCard{
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    padding: 20px 20px;
    border-radius: 15px;
    cursor: pointer;

    transition: 0.2s;
}
.taskCard > * {
    pointer-events: none;
}
.taskCardBody{
    margin-top: 20px;
}
.listOfActualTasks, .listOfFutureTasks, .summaryComment, .summaryMessage{
    margin-bottom: 40px;
}

/*PLANPAGE*/
.headOfPlanPage{
    margin-bottom: 50px;
}
.headOfPlanPage h1{
    line-height: 40px;
}
.headOfPlanPage h2{
    margin-bottom: 15px;
}
.summaryForm{
    margin-bottom: 50px;
}
